body {
    background-color: rgb(117, 175, 195);
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
    animation: alternate;
  }
  div {
    border: 5px solid gray;
    margin: 0;
  }
  
  .navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow:hidden;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #9ba72b;
  }
  
  /* gezinme çubuğunu 500 pikselden küçük ekranlarda yatay yerine dikey olarak otomatik olarak görüntüler */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }